#Dependencies
node_modules/
jspm_packages/
.pnp
.pnp.js

#Buildartifacts
build/
dist/
.cache/
*.log

#EnvironmentandSecrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

#Git
.git
.gitignore

#OSfiles
.DS_Store
Thumbs.db

#Dockerspecific
Dockerfile
.dockerignore